#EventDeck Settings
#Wed Mar 11 07:50:39 CET 2026
EventPropability=25
TableDir=/home/adrian/workspaces/whq/WhqHelperApp/data/xml/tables/
ShowTravelDeck=true
CardHeight=370
Roleplay\ Book\ Settlement\ Events\ Table.active=true
Roleplay\ Book\ Monsters\ -\ Level\ 2.active=false
Roleplay\ Book\ Monsters\ -\ Level\ 3.active=true
Roleplay\ Book\ Monsters\ -\ Level\ 4.active=false
Roleplay\ Book\ Monsters\ -\ Level\ 5.active=false
LM\ Objetive\ Room\ Treasure\ II.active=false
CardWidth=240
ShowTreasureDeck=true
PartySize=4
Roleplay\ Book\ Monsters\ -\ Level\ 1.active=false
Roleplay\ Book\ Monsters\ -\ Level\ 8.active=false
Roleplay\ Book\ Monsters\ -\ Level\ 6.active=false
Roleplay\ Book\ Monsters\ -\ Level\ 7.active=false
Roleplay\ Book\ Monsters\ -\ Level\ 9.active=false
Roleplay\ Book\ Travel\ Hazards\ Table.active=true
Original\ Event\ Deck.active=false
AdventureDefaultRoomCount=5
ShowObjectiveTreasureDeck=true
FontDir=/home/adrian/workspaces/whq/WhqHelperApp/data/fonts/
lm\ -\ Town\ Events.active=false
lm\ -\ Outside\ The\ Gates\ Events.active=false
ShowSettlementDeck=true
SimulateDeck=false
Roleplay\ Book\ Monsters\ -\ Level\ 10.active=false
ImageDir=/home/adrian/workspaces/whq/WhqHelperApp/data/graphics/
MonsterDir=/home/adrian/workspaces/whq/WhqHelperApp/data/xml/monsters/
Language=ES
AdventureDefaultDeckSize=12
SettlementDir=/home/adrian/workspaces/whq/WhqHelperApp/data/xml/settlement/
EventImageDir=/home/adrian/workspaces/whq/WhqHelperApp/data/graphics/events/
lm\ -\ City\ Events.active=false
LM\ Objetive\ Room\ Treasure\ III.active=false
Roleplay\ Book\ Dungeon\ Events\ Table.active=true
EventDir=/home/adrian/workspaces/whq/WhqHelperApp/data/xml/events/
RulesDir=/home/adrian/workspaces/whq/WhqHelperApp/data/xml/rules/
LM\ Dungeon\ Treasure.active=true
AdventureAmbience=generic
LM\ Objetive\ Room\ Treasure\ I.active=false
TravelDir=/home/adrian/workspaces/whq/WhqHelperApp/data/xml/travel/
lm\ -\ Travel\ Hazards\ Table.active=false
lm\ -\ Village\ Events.active=false
Roleplay\ Book\ -\ Objective\ Room\ Treasure\ Table.active=true
Roleplay\ Book\ -\ Dungeon\ Treasure\ Table.active=false
TreasureGoldProbability=15
MonsterImageDir=/home/adrian/workspaces/whq/WhqHelperApp/data/graphics/monsters/
ShowEventDeck=true
gpt-events.active=true
