#EventDeck Settings
#Wed Mar 25 18:34:17 CET 2026
EventPropability=25
Hall\ of\ the\ Hag\ Queen\ Monsters\ -\ Level\ 1.active=true
TableDir=/home/adrian/workspaces/whq/WhqHelperApp/data/xml/tables/
ShowTravelDeck=true
CardHeight=370
Hall\ of\ the\ Hag\ Queen\ Monsters\ -\ Level\ 10.active=true
ObjectiveMonsterNormalWeight=2
Roleplay\ Book\ Settlement\ Events\ Table.active=true
Roleplay\ Book\ Monsters\ -\ Level\ 2.active=true
Roleplay\ Book\ Monsters\ -\ Level\ 3.active=true
Roleplay\ Book\ Monsters\ -\ Level\ 4.active=true
Roleplay\ Book\ Monsters\ -\ Level\ 5.active=true
LM\ Objetive\ Room\ Treasure\ II.active=false
CardWidth=240
ShowTreasureDeck=true
PartySize=4
Roleplay\ Book\ Monsters\ -\ Level\ 1.active=true
Roleplay\ Book\ Monsters\ -\ Level\ 8.active=true
Roleplay\ Book\ Monsters\ -\ Level\ 6.active=true
Roleplay\ Book\ Monsters\ -\ Level\ 7.active=true
Roleplay\ Book\ Monsters\ -\ Level\ 9.active=true
Roleplay\ Book\ Travel\ Hazards\ Table.active=true
AdventureLevel=1
Hall\ of\ the\ Hag\ Queen\ Monsters\ -\ Level\ 9.active=true
Original\ Event\ Deck.active=false
AdventureDefaultRoomCount=5
Hall\ of\ the\ Hag\ Queen\ Monsters\ -\ Level\ 5.active=true
ShowObjectiveTreasureDeck=true
FontDir=/home/adrian/workspaces/whq/WhqHelperApp/data/fonts/
lm\ -\ Town\ Events.active=false
Hall\ of\ the\ Hag\ Queen\ Monsters\ -\ Level\ 3.active=true
Hall\ of\ the\ Hag\ Queen\ Monsters\ -\ Level\ 7.active=true
lm\ -\ Outside\ The\ Gates\ Events.active=false
ShowSettlementDeck=true
AdventureActive=false
Greenskins\ Monsters\ -\ Level\ 5.active=true
ObjectiveMonsterExtremeWeight=1
SimulateDeck=true
ObjectiveMonsterEasyWeight=1
Roleplay\ Book\ Monsters\ -\ Level\ 10.active=true
Greenskins\ Monsters\ -\ Level\ 3.active=true
Greenskins\ Monsters\ -\ Level\ 4.active=true
ImageDir=/home/adrian/workspaces/whq/WhqHelperApp/data/graphics/
Greenskins\ Monsters\ -\ Level\ 0.active=true
Greenskins\ Monsters\ -\ Level\ 1.active=true
Greenskins\ Monsters\ -\ Level\ 2.active=true
MonsterDir=/home/adrian/workspaces/whq/WhqHelperApp/data/xml/monsters/
Language=ES
AdventureDefaultDeckSize=12
ChatGPT\ Dungeon\ Events.active=false
SettlementDir=/home/adrian/workspaces/whq/WhqHelperApp/data/xml/settlement/
EventImageDir=/home/adrian/git/whq-helper/WhqHelperApp/data/graphics/events/
lm\ -\ City\ Events.active=false
LM\ Objetive\ Room\ Treasure\ III.active=false
Roleplay\ Book\ Dungeon\ Events\ Table.active=true
ObjectiveMonsterVeryHardWeight=0
EventDir=/home/adrian/workspaces/whq/WhqHelperApp/data/xml/events/
RulesDir=/home/adrian/workspaces/whq/WhqHelperApp/data/xml/rules/
LM\ Dungeon\ Treasure.active=true
AdventureAmbience=generic
LM\ Objetive\ Room\ Treasure\ I.active=false
TravelDir=/home/adrian/workspaces/whq/WhqHelperApp/data/xml/travel/
lm\ -\ Travel\ Hazards\ Table.active=false
lm\ -\ Village\ Events.active=false
Roleplay\ Book\ -\ Objective\ Room\ Treasure\ Table.active=true
Roleplay\ Book\ -\ Dungeon\ Treasure\ Table.active=false
Hall\ of\ the\ Hag\ Queen\ Monsters\ -\ Level\ 8.active=true
TreasureGoldProbability=15
ObjectiveMonsterHardWeight=5
MonsterImageDir=/home/adrian/workspaces/whq/WhqHelperApp/data/graphics/monsters/
Hall\ of\ the\ Hag\ Queen\ Monsters\ -\ Level\ 4.active=true
ShowEventDeck=true
Hall\ of\ the\ Hag\ Queen\ Monsters\ -\ Level\ 6.active=true
Hall\ of\ the\ Hag\ Queen\ Monsters\ -\ Level\ 2.active=true
gpt-events.active=true
