#EventDeck Settings
#Wed Mar 11 07:50:39 CET 2026
EventPropability=25
TableDir=data/xml/tables/
ShowTravelDeck=true
CardHeight=370
table.roleplay-book-settlement-events-table.active=true
table.roleplay-book-monsters-level-2.active=false
table.roleplay-book-monsters-level-3.active=true
table.roleplay-book-monsters-level-4.active=false
table.roleplay-book-monsters-level-5.active=false
table.lm-objetive-room-treasure-ii.active=false
CardWidth=240
ShowTreasureDeck=true
PartySize=4
table.roleplay-book-monsters-level-1.active=false
table.roleplay-book-monsters-level-8.active=false
table.roleplay-book-monsters-level-6.active=false
table.roleplay-book-monsters-level-7.active=false
table.roleplay-book-monsters-level-9.active=false
table.roleplay-book-travel-hazards-table.active=true
table.original-event-deck.active=false
AdventureDefaultRoomCount=5
ShowObjectiveTreasureDeck=true
FontDir=data/fonts/
table.lm-town-events.active=false
table.lm-outside-the-gates-events.active=false
ShowSettlementDeck=true
SimulateDeck=false
table.roleplay-book-monsters-level-10.active=false
ImageDir=data/graphics/
MonsterDir=data/xml/monsters/
Language=ES
AdventureDefaultDeckSize=12
SettlementDir=data/xml/settlement/
EventImageDir=data/graphics/events/
table.lm-city-events.active=false
table.lm-objetive-room-treasure-iii.active=false
table.roleplay-book-dungeon-events-table.active=true
EventDir=data/xml/events/
RulesDir=data/xml/rules/
table.lm-dungeon-treasure.active=true
AdventureAmbience=generic
table.lm-objetive-room-treasure-i.active=false
TravelDir=data/xml/travel/
table.lm-travel-hazards-table.active=false
table.lm-village-events.active=false
table.roleplay-book-objective-room-treasure-table.active=true
table.roleplay-book-dungeon-treasure-table.active=false
TreasureGoldProbability=15
MonsterImageDir=data/graphics/monsters/
ShowEventDeck=true
gpt-events.active=true
